#container
{
    margin: 1rem 0 3rem 0;
}

.required::before
{
    font-size: 11px;
    line-height: 1px;
    width: 16px;
    color: transparent;
    content: 'btn';
    background-size: 15px;
    background-repeat: no-repeat;
}

#container .t-tp2 tr td:first-child div:not(.required)
{
    margin-left: 18px;
}

#container .t-tp2 tr td:last-child
{
    padding-left: 5px;
}

.t-tp3 p
{
    margin: 0%;
}