


#container .t-tp2 tr td:first-child div:not(.required)
{
    margin-left: 18px;
}

#container .t-tp2 tr td:last-child
{
    padding-left: 5px;
}

.t-tp3 p
{
    margin: 0%;
}

#private-box{
    border: 1px solid gray;
    border-radius: 7px;
    box-shadow: 1px 2px;
    padding: 13px;
    background: antiquewhite;
    margin: 23px 13%;
}