/* Segmentation of main contents */


#article
{
    padding: 0 2% 0 2%;
    width: 100%;
}

/* side Nav */
#sidenav {
    height: 100%;
    width: 200px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgray;
    overflow-x: hidden;
    padding: 5px;

    flex-grow: 0;
  }

  .mail-b-m
  {
    border: 1px solid white;
    padding: 5px;
    margin-bottom: 20px;

    background: linear-gradient( to top, rgba(230, 26, 26, 0.233),  rgb(139, 19, 19) );

  }

  .mail-b-m > *
  {
    padding: 5px;
  }

  .lk-m-icon::before
  {
    font-size: 15px;
    line-height: 1px;
    width: 16px;
    color: transparent;
    content: 'btn';
    background-image: url(../img/link-m.png);
    background-size: 20px;
    background-repeat: no-repeat;
  }

  .m-side-h
  {
    border-top: 3px solid crimson;
    border-left: 2px solid crimson;
    border-right: 2px solid crimson;
    border-bottom: 5px solid crimson;
    box-shadow: 3px 3px 4px  gray;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: white;
}

.m-side-c
{
    padding: 5px;
    margin: 7px 0 12px 0;
}
.m-side-c div
{
    background-color: white;
    padding: 5px;
    border: 1px solid darkcyan;
    margin: -1px;
    cursor: pointer;
}

/* main container */

.m-container-h
{
  border-top: 3px solid #E5E4E2;
  border-left: 2px solid #E5E4E2;
  border-right: 2px solid #E5E4E2;
  border-bottom: 5px solid #E5E4E2;
  box-shadow: 3px 3px 4px  gray;
  padding: 3px 9px 3px 9px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: crimson;

  color: #E5E4E2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-container-h::before
{
  font-size: 15px;
  line-height: 1px;
  width: 16px;
  color: transparent;
  content: 'btn';
  background-image: url(../img/m-i-c-01.png);
  background-size: 20px;
  background-repeat: no-repeat;
}

.i-i-container
{
  margin-left: 3%;
}

.i-i-Topbtn
{
  margin-top: 1rem;
  text-decoration: underline;
  cursor: pointer;
}
.i-i-Topbtn::before
{
  font-size: 11px;
  line-height: 1px;
  width: 16px;
  color: transparent;
  content: 'bt';
  background-image: url(../img/up-arrow.png);
  background-size: 12px;
  background-repeat: no-repeat;

}


/* main container table detail */

/*  >>1 buildingInformation */


table[name="buildingInformation"]
{
  border: gray 1px solid;
  width: 100%;
  background-color: silver;
}
table[name="buildingInformation"] tr td
{
  padding: 5px;
}

table[name="memberInformation"],
table[name="mailService"],
table[name="ipPhoneServices"]
{
  border: gray 1px solid;
  width: 100%;
}

table[name="memberInformation"] tr td:first-child,
table[name="mailService"] tr td:nth-child(odd),
table[name="ipPhoneServices"] tr td:first-child
{
  padding: 5px;
  background-color: silver;
}

table[name="memberInformation"] tr td:first-child,
table[name="mailService"] tr td:first-child,
table[name="ipPhoneServices"] tr td:first-child
{
  width: 40%;
}

table[name="memberInformation"] tr td,
table[name="mailService"] tr td,
table[name="ipPhoneServices"] tr td
{
  border: gray 1px solid;
}